body,
html {
    height: 100%;
    margin: 0;
    background-color: #c5dcc2;
    font-family: "Lexend Deca", sans-serif;
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh; /* Adjust the height as needed */
}

form {
    display: flex;
    justify-content: center;
    align-items: center;
}

.square {
    width: 430px;
    height: 330px;
    background-color: white;
    border-radius: 15px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: white; /* Text color */
}

.left-aligned {
    display: flex;
    flex-direction: column;
    align-items: center; /* Align elements to the center */
    width: 100%; /* Occupy the width */
}

.userInfo,
.submit {
    margin-top: 10px;
    display: flex;
    flex-direction: column;
    margin-bottom: 5px;
    align-items: flex-start; /* Align items (buttons) horizontally */
    width: 100%; /* Occupy the width */
    color: #071c29;
}

input {
    width: 270px;
    height: 37px;
    border-radius: 50px;
    border: 1px solid #5287a9;
    background-color: white;
    text-indent: 9px;
    font-size: 11px;
}

.submit input {
    /* Adjust margin for spacing between text and button */
    height: 43px;
    border-radius: 50px;
    background-color: #186f65;
    color: white;
    border: 1px solid #186f65;
    margin: 15px 0 15px 0;
    font-weight: bold;
    font-size: 13px;
}

.appName {
    font-size: 30px;
    font-weight: bold;
    margin: 0 0 10px 0;
    color: #186865;
}

.text {
    color: #071c29;
    font-size: 10px;
}
.signUp {
    color: #186f65;
    font-weight: bold;
}

.user {
    font-size: 10px;
    margin: 0 0 2px 10px;
    font-weight: bold;
}

.password {
    font-size: 10px;
    margin: 0 0 2px 10px;
    font-weight: bold;
}

a {
    text-decoration: none;
    color: #186f65;
}
