.container {
    display: flex;
    flex-direction: horizontal;
    align-items: baseline;
    justify-content: baseline;
    height: 20vh;
    text-align: center;
}

body,
html {
    background-color: #ffffff;
    font-family: "Lexend Deca", sans-serif;
}

.elevateme {
    font-size: 30px;
    font-weight: bold;
    margin: 50px auto 70px 70px;
    color: #186f65;
}

.button-clicked {
    width: 100px;
    height: 40px;
    border-radius: 25px;
    border: 0;
    background-color: #186f65;
    color: #ffffff;
    margin: 0 50px 0 0;
}

.button1 {
    width: 100px;
    height: 40px;
    border-radius: 25px;
    border: 0;
    background-color: #ffffff;
    color: black;
    margin: 0 50px 0 0;
}

.problemStatementList{
    text-align: left;
    margin-left: 80px;
    color: #186f65;
}
.savedlist{
    margin: 50px 0 0 50px;
}
.cards-container{
    max-height: 100%;
}
.vennDiagram2-container, .vennDiagram3-container{
        background-color: #e0f2f1; /* Adjust background color as needed */
        border-radius: 15px; /* Adjust border-radius for curved corners */
        padding: 20px; /* Add padding for content inside the container */
        margin: 20px auto; /* Adjust top and bottom margin as needed */

        max-height: 400px; /* Increase the maximum height as needed */
        max-width: 1700px; /* Set a maximum width for the container */
        overflow-y: auto;

        /* Add fixed margin for left and right sides */
}
.rbuttons input[type="radio"] {
        width: 1.5em;
        height: 1.5em;
        margin-right: 5px;
}
.rbuttons {
        position: absolute;
        top: 30%;
        right: 5%;
        transform: translateY(-50%);
}
.venn2{
    position: absolute;
    left: 15%;
    top: 100%;
}
.venn3{
    position: absolute;
    left: 70%;
    top: 100%;
}
.rank-button{
    float: right;
    width: 150px;
    height: 50px;
    margin: 20px 0 0 0;
    border-radius: 25px;
    background-color: #186f65;
    border: 0;
    color: white;
}
.button-section{
    width: 100%;
    float: left;
    margin: 100px 0 0 0;
    justify-content: right;
    color:#186f65;

}
.checkbox {
    flex-shrink: 0;
    margin-right: 10px; /* Adjust margin as needed */
    width: 20px; /* Set the width of the checkbox */
    height: 20px; /* Set the height of the checkbox */
    -webkit-appearance: none; /* Remove default styling for Webkit browsers */
    appearance: none; /* Remove default styling for modern browsers */
    border-radius: 50%; /* Make the checkbox circular */
    border: 2px solid #186f65; /* Set the default border color */
    position: relative;
    cursor: pointer;
}

/* Style the checked state */
.checkbox:checked {
    background-color: #186f65; /* Set the background color when selected */
    border-color: #186f65; /* Set the border color when selected */
}

/* Style the custom check mark */
.checkbox::before {
    content: "\2714"; /* Unicode check mark character */
    display: block;
    width: 100%;
    height: 100%;
    text-align: center;
    line-height: 20px; /* Adjust line-height to vertically center the check mark */
    color: #fff; /* Set the color of the check mark */
    position: absolute;
    top: 0;
    left: 0;
    opacity: 0; /* Hide by default */
    transition: opacity 0.2s ease; /* Add a smooth transition effect */
}

/* Show the custom check mark when checked */
.checkbox:checked::before {
    opacity: 1;
}
.button-container{
    flex-shrink: 0;
}
.card {
    display: flex;
    align-items: center;
    justify-content: space-between;
    border: 1px solid #e0e0e0;
    border-radius: 25px;
    padding: 10px;
    margin-bottom: 10px;
    background-color: #d9d9d9;
}

.card-text {
    flex-grow: 1;
    width: 1250px;
    color: black;
    text-align: left;
}

.delete-button, .edit-button {
    margin-right: 10px;
    background-color: #186f65; /* Adjust background color as needed */
    color: #ffffff; /* Adjust text color as needed */
    border: none;
    border-radius: 15px; /* Adjust border-radius for rounded corners */
    padding: 8px 15px; /* Adjust padding as needed */
    cursor: pointer;
}
.edit-button{
    position: relative;
    top: 50%;
    left: calc(93% - 30px);
}
.psRanking{
    width: calc(100% - 90px);
    position: absolute;
    top: 700px;
    left: 90px;
    padding: 0 0 20px 0;
}
p{
    font-size: 15px;
    font-weight: bold;
}
.psText{
    color: #186f65;
}
.psRubrics{
    width: 100%;
    height: 50px;
    background-color: #d9d9d9;
    border-radius: 20px;
    table-layout: fixed;
    border-collapse: collapse;
}

.chkTable{
    width: 100%;
    margin: 20px 0 0 0;
    color:#186f65;
}
.cardTable{
    table-layout: fixed;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border: 1px solid #e0e0e0;
    border-radius: 25px;
    padding: 10px 10px 10px 20px;
    margin-bottom: 10px;
    background-color: #d9d9d9;
}
.cardTable select, .cardTable p{
    width: 100%; /* Adjust width considering padding */
    height: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    border: none; /* Remove default textarea border */
    background-color: #d9d9d9;
    font-weight: bold;
}
.cardTable select:focus{
    outline: none;
}
.ps{
    position: relative;
    left: 5%;
}
.impact{
    position: relative;
    left: 40%;
}
.capability{
    position: relative;
    left: 350%;
}
.devcost{
    position: relative;
    left: 650%;
}
.needs{
    position: relative;
    left: 970%;
}
.innovation{
    position: relative;
    left: 1280%;
}
.marketsize{
    position: relative;
    left: 1600%;
}
.total{
    position: relative;
    left: 1565%;
}
.rank{
    position: relative;
    left: 1730%;
}
.psRubrics th,
    .psRubrics td,
    .cardTable td,
    .cardTable p{
        text-align: center; /* Align text to the left */
}
.psRubrics th, .cardTable td{
    padding: 10px 10px 10px 50px;
}

.chkbox{
    flex-shrink: 0;
    width: 20px; /* Set the width of the checkbox */
    height: 20px; /* Set the height of the checkbox */
    -webkit-appearance: none; /* Remove default styling for Webkit browsers */
    appearance: none; /* Remove default styling for modern browsers */
    border-radius: 50%; /* Make the checkbox circular */
    border: 2px solid #186f65; /* Set the default border color */
    position: relative;
    top: 63px;
    left: 15px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}
.chkbox:checked {
    background-color: #186f65; /* Set the background color when selected */
    border-color: #186f65; /* Set the border color when selected */
}

/* Style the custom check mark */
.chkbox::before {
    content: "\2714"; /* Unicode check mark character */
    display: block;
    width: 100%;
    height: 100%;
    text-align: center;
    line-height: 20px; /* Adjust line-height to vertically center the check mark */
    color: #fff; /* Set the color of the check mark */
    position: absolute;
    top: 0;
    left: 0;
    opacity: 0; /* Hide by default */
    transition: opacity 0.2s ease; /* Add a smooth transition effect */
}

/* Show the custom check mark when checked */
.chkbox:checked::before {
    opacity: 1;
}