{% load static %}
<!DOCTYPE html>
  <html lang="en">
  <head>
      <meta charset="UTF-8">
      <meta http-equiv="X-UA-Compatible" content="IE=edge">
      <meta name="viewport" content="width=device-width, initial-scale=1.0">
      <link href="https://fonts.googleapis.com/css2?family=Lexend+Deca&display=swap" rel="stylesheet">
      <link rel="stylesheet" href="/static/css/Homepage.css">
      <title>ElevateMe</title>
  </head>
  <body>
      <div class="container">

          <div class="elevateme">ElevateMe</div>
      
          <div class='buttons'>
            <input class='button-clicked' type="button" value="Home"></input>
            <input class='button1' type="button" value="Saved"></input>
            <input class='button1' type="button" value="List"></input>
            <input class='button1' type="button" value="5-Whys"></input>
            <a href="{% url "authenticate:signout" %}"><input class='button1' type="button" value="Sign Out"></input></a>
      
            <!---<div class='venn-diagram'>
              <div class='circle1'></div>
              <div class='circle2'></div>
            </div>!---->
            
            <div class="filters">Venn Diagram Settings</div>

            <div class="filters-button" id="pop-up"></div>
            <div class="overlay" id="overlay"></div>
            
            <div class="popup" id="popup">
              <h2>Venn Diagram Settings</h2>
              <h4 class="text1">Number of Fields</h4>

              <h4 class="text2">Field 1: </h4>
              <input class="f1" type="text" id="field1" placeholder="Input scope here...">
              
              <h4 class="text3">Field 2:</h4>
              <input class="f2" type="text" id="field2" placeholder="Input scope here...">

              <h4 class="text4">Field 3:</h4>
              <input class="f3" type="text" id="field3" placeholder="Input scope here...">

              <h4 class="text5">Filter</h4>
              <div class="filter-input">
                <input class="f4" type="text" placeholder="Input filter here...">
              </div>
              <button class="closebtn" id="closeButton">Close</button>
              <button class="apply" id="applyButton">Apply</button>
            </div>

            <div class="venn-container">
              <div class="circle1"></div>
              <div class="circle2"></div>
              <div class="circle3"></div>
            </div>
            
            
          </div>
          </div>
      
          <div class='container2'>
            <div class='psg'>Problem Statement</div>
            <div class='generator'>Generator</div>
            <div class='specify-text1'>Specify first the number of Venn Diagram and</div>
            <div class='specify-text2'> Input the scopes of your problem statement</div>
            <div class='specify-text3'>you want to be generated</div>
            <input class='generate-button' type='submit' value='Generate'></input>
            
          </div>
      <script src="{% static 'script/Homepage.js' %}"></script>


  </body>
  </html>
