<!DOCTYPE html>
<html lang="en">
<head>
    <title>Login Page</title>
    <link rel="stylesheet" type="text/css" href="/style/login.css" />
    <link
            href="https://fonts.googleapis.com/css2?family=Lexend+Deca&display=swap"
            rel="stylesheet"
    />
</head>
<body>
<div class="frame-1-bvs">
    <div class="login-screen-mis">
        <div class="container">
            <div class="square">
                <div class="appName">ElevateMe</div>
                <form action="">
                    <div class="left-aligned">
                        <div class="userInfo">
                            <label class="register" for="username"
                            >Username</label
                            >
                            <input
                                    type="text"
                                    id="username"
                                    name="username"
                                    placeholder="Enter your username"
                            />
                        </div>
                        <div class="userInfo">
                            <label class="password" for="password"
                            >Password</label
                            >
                            <input
                                    type="password"
                                    id="password"
                                    name="password"
                                    placeholder="Enter your password"
                            />
                        </div>
                        <div class="submit">
                            <div class="group">
                                <div class="signin">
                                    <input
                                            type="submit" value="Sign in">
                                </div>
                            </div>
                        </div>
                        <div class="text">
                            <span class="text1">Don't have an account?</span>
                            <span class="signUp"><a href="/templates/register.html">Sign Up</a></span>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
</body>
</html>