<!DOCTYPE html>
<html>

<head>
    <title>Create Account</title>
    <link rel="stylesheet" type="text/css" href="../static/css/register.css">
    <link href="https://fonts.googleapis.com/css2?family=Lexend+Deca&display=swap" rel="stylesheet">
    <script>
        {% if State %}
            const errorMessage = "{{ message|safe }}";  // Use the safe filter to prevent HTML encoding
            function validatePassword() {
                let password = document.getElementById("password").value;
                let confirmPassword = document.getElementById("confirmpassword").value;

                if (password !== confirmPassword) {
                    alert(errorMessage);
                }
            }
        {% endif %}
    </script>

</head>

<body>
<div class="container">
    <div class="square">

        <div class="elevateme">ElevateMe</div>
        <div class="createaccount">Create Account</div>
        <div class="fillinput">Please fill the inputs below</div>

        <div class="form">
            <form id="registerform" action="{% url 'authenticate:register' %}" method="post"
                  onsubmit="validatePassword()">
                {% csrf_token %}
                <div class="username">
                    <input type="text" id="username" name="username" placeholder="Username">
                </div>

                <div class="email">
                    <input type="email" id="email" name="email" placeholder="Email">
                </div>

                <div class="password">
                    <input type="password" id="password" name="password" placeholder="Password">
                </div>

                <div class="confirmpassword">
                    <input type="password" id="confirmpassword" name="confirmpword"
                           placeholder="Password Confirmation">
                </div>

                <div class="next">
                    <input type="submit" value="Next" form="registerform">
                </div>
            </form>
        </div>
    </div>
</div>
</body>

</html>
