{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link href="https://fonts.googleapis.com/css2?family=Lexend+Deca&display=swap" rel="stylesheet" />
    <link rel="stylesheet" href="/static/css/Whys.css" />
    <title>ElevateMe</title>
</head>

<body>
    <div class="container">
        <div class="elevateme">ElevateMe</div>
        <div class="buttons">
            <a href="{% url 'homepage:home' %}"><input class="button1" type="button" value="Home" /></a>
            <a href="{% url 'Saving:savePage' %}"><input class="button1" type="button" value="Saved" /></a>
            <a href="{% url 'Ranking:ranking' %}"><input class="button1" type="button" value="Ranking" /></a>
            <a href="{% url 'Whys:5-whys' %}"><input class="button-clicked" type="button" value="5-Why's" /></a>
            <a href="{% url 'authenticate:signout' %}"><input class="button1" type="button" value="Sign Out" /></a>
        </div>
    </div>


    <div class="problem">
        <h1>Selected Problem Statement</h1>
        <div class="selectedProbStatement-container">
            <div class="selectedPScard">
          <!--       <input type="checkbox" class="checkbox" /> -->
                <div class="card-text" contenteditable="true">Your Text Here</div>
<!-- 
                <button class="delete-button" onclick="deleteCard('vennDiagram3Container', 'card')">Delete</button> -->
            </div>
            <div class="genHmwButton-container">
                <button class="generateWhys-Button"> 5-Why</button>
            </div>
        </div>
    </div>
    </div>
    <!-- Generated 5 Whys -->
    <div class="generatedWhys">
        <h1> Generated 5 - Why's</h1>
        <p>Enumerate 5 HMW statement(s) by specifying an ACTION (what you want to achieve), a SUBJECT (to be influenced
            or affected), and a WHAT (outcome or what you like to achieve).</p>
        <div class="generatedWhys-container">
            <div class="whyCards">
                <input type="checkbox" class="checkbox" />
               
                    <div class="card-text" contenteditable="true">Your Text Here</div>

                <button class="delete-button" onclick="deleteCard('vennDiagram3Container', 'card')">Delete</button>
            </div>
            <div class="genHmwButton-container">
                <button class="generateHMW-Button">  Next </button>
            </div>
        </div>

    </div>
    <script src="{% static 'script/save.js' %}"></script>
</body>

</html>

<!--   <button class="addbutton" onclick="showAddCardModal('vennDiagram2Container')">Add</button> -->